{% extends "base.html.twig" %}

{% block title %}List {{ parent() }}{% endblock %}

{% block body %}
    <div class="card">
        {{ form_start(form, {'attr': {'class': 'form-body'}}) }}
        <div class="p-3">
            <div class="input-group">
                {{ form_widget(form.title) }}
                {{ form_widget(form.save) }}
            </div>
            {{ form_errors(form.title) }}
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
        {{ render(controller('App\\Controller\\ToDoController::list')) }}
    </div>
{% endblock %}
