<ul class="list-group list-group-flush" id="todos">
    {% for todo in todos|default([]) %}
        {% set statusComplete = constant('\\App\\Entity\\ToDo::STATUS_COMPLETE') %}
        <li class="list-group-item d-flex{% if statusComplete == todo.status %} todo-completed{% endif %}"
            id="task-row-{{ todo.id }}">
            <div class="d-inline-flex">
                <div class="form-check form-check-inline">
                    <input class="form-check-input change-status-task" type="checkbox" id="todo-{{ todo.id }}"
                            {% if statusComplete == todo.status %} checked="checked"{% endif %}
                           value="1" data-id="{{ todo.id }}">
                    <label class="form-check-label" for="todo-{{ todo.id }}">{{ todo.title }}</label>
                </div>
            </div>
            <div class="d-inline-flex ms-auto">
                <a href="{{ path('app_todos_edit', {'id': todo.id}) }}" class="btn btn-sm btn-outline-primary ms-1">
                    <i class="fa-solid fa-pencil"></i>
                </a>
                <a href="#" class="btn btn-sm btn-outline-danger ms-1 confirm-delete-task" data-id="{{ todo.id }}">
                    <i class="fa-solid fa-trash"></i>
                </a>
            </div>
        </li>
    {% endfor %}
</ul>
