<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{{ path('app_home') }}">ToDo Manager</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('app_todos') }}">@ToDo's</a>
                    </li>
                {% endif %}
            </ul>
            <div class="d-flex">
                {% if not app.user %}
                    <a href="{{ path('app_login') }}" class="nav-link" title="Sign in">Log in</a>
                    <a href="{{ path('app_register') }}" class="btn btn-primary">Sign up</a>
                {% else %}
                    <a href="{{ path('app_logout') }}" class="nav-link" title="Logout">Log out</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
